@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');
/* --------------------------------------------
---------------------basic--------------------
---------------------------------------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* --------------------------------------------
---------------------MOBILE--------------------
---------------------------------------------- */
@media(max-width:1023px){

/* --------------------------------------------
---------------------HEADER--------------------
---------------------------------------------- */
header{
    font-family: 'Poppins', sans-serif;
    font-size:11px;
    text-align:center;
    background-color:hsl(193, 100%, 96%);
    background-image:url(images/bg-hero-mobile.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow:hidden;
}

/* ------------NAV------------------ */

nav{
    display:flex;
    justify-content:space-between;
    padding:2rem;
}
.nav-img{
    width:150px;
    height:23px;
}
.nav-link{
    font-size:0.9rem;
    padding:0.3rem 1rem;
    border-radius:20px;
    background:hsl(0, 0%, 100%);
    box-shadow:0.2px 0.3px 5px hsl(208, 11%, 80%);
    
}
.nav-link a {
    text-decoration:none;
    color:hsl(192, 100%, 9%);
    font-weight:600;
}

/* ---------------Header-text-container------------ */


.head-container{
    margin:1em 1rem;
    padding:1rem;
}
.main-text{
    margin:3rem 0;
    color:hsl(192, 100%, 9%);
}
.main-text h1{
    font-size:2rem;
    font-weight:600;
    margin:2rem;
}
.main-text p{
    font-size:1.2rem;
    font-weight:400;
}
.btn{
    text-align:center;
    padding:0.9rem;
    margin:3rem auto 3rem auto;
    border-radius:20px;
    background:hsl(322, 100%, 66%);
    height:auto;
    width:17rem;
    /* cursor:pointer; */
}
.btn a {
    color:hsl(193, 100%, 96%);
    text-decoration:none;
    font-size:0.9rem;
    font-weight:400;
}
.head-img{
    width: 95%;
}



/* --------------------------------------------
---------------------Body--------------------
---------------------------------------------- */

.main-body{
    font-family: 'Open Sans', sans-serif;
    font-size:11px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    
}
.card1, .card2, .card3{
    margin:3rem 1rem;
    padding:2rem;
    box-shadow:0.1px 0.2px 3px hsl(208, 11%, 80%);
    border-radius:20px;
}
/* .card3{
    margin-bottom:20rem;
} */
.b-img{
    width:80%;
}
.b-text{
    margin:2rem 1rem;
}
.b-text h2{
    font-weight:700;
    font-size:1.3rem;
    padding-bottom:1rem;
}
.b-text p{
    font-weight:400;
    font-size:1rem;
    color:hsl(208, 11%, 55%);
}

.out-card{
   width:95%;
   margin:2rem auto;
   padding:3rem;
   border-radius:20px;
   box-shadow:0.1px 0.2px 3px hsl(208, 11%, 80%);
   background-color:rgb(255, 255, 255);
   position:relative;
   bottom:-110px;
   
}
.out-card h2{
    font-size:1.1rem;
    font-weight:700;
}
.out-card .btn{
    margin:2rem auto 1rem auto;
}
/* --------------------------------------------
---------------------FOOTER--------------------
---------------------------------------------- */



footer{
    background-color:hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    font-size:11px;
    
}
.foot-body{
    padding:1rem;
}
.foot-body a{
    text-decoration:none;
    color:hsl(208, 11%, 55%);
    font-size:1rem;
    font-weight:400;
    padding-left:2rem;
    display:inline-block;
}

.f-logo{
    margin:5rem 0 1rem 0;
    width:8rem;
}

.loc,.phone,.mail{
    margin:1rem 0;
    display:flex;
}
.loc img{
    width:40px;
    height:25px;
}
.a-tags{
    display:flex;
    flex-flow:column;
    margin:3rem 0;
}
.a-tags a{
    font-size:.8rem;
    padding:0.8rem 0;
    font-weight:400;
    color:hsl(193, 100%, 96%);
    width:20%;
}


}

@media(min-width:1024px){
    body{
        display:none;
    }
}
